$backgroundColorDark = #0e121d
$backgroundColorLight = #eee
$backgroundColorStrong = #03b4f9

body

h1
h2
h3
  margin-bottom 0

.remark-slide-content
  h1
    font-size 2em
    font-weight 700
  h2
    font-size 1.5em
    font-weight 600
  h3
    font-size 1.2em
    font-weight 500

.footnote
  position absolute
  bottom 3em

img
  max-width 30%

li 
  p
    line-height 1.25em

.remark-slide-content
  background-repeat no-repeat
  background-attachment fixed
  background-size 100px 100px
  background-position 95% 5%

svg
  fill currentColor
  border 5px solid currentColor

.strong
  background-color: $backgroundColorStrong
  color #fff
  background-image url("/img/jetstack-symbol.svg")
  background-repeat no-repeat
  background-attachment fixed
  background-size 100px 100px
  background-position 95% 5%

.front
  background-color: $backgroundColorDark
  background-image url("/img/turbine.jpg"), url("/img/jetstack-full-white.svg")
  background-repeat no-repeat, no-repeat
  background-attachment fixed, fixed
  background-size 40%, 20%
  background-position 110% 110%, 20px 20px
  color #fff
  padding-right: 30%

.front
  h1
  h2
  h3
  h4
  h5
    text-align: left

.red
  color #fa0000

.large
  font-size 2em

a, a > code
  color rgb(249, 38, 114)
  text-decoration none

code
  border-radius 5px
  background #e7e8e2
  
.remark-code
.remark-inline-code
  font-family "Ubuntu Mono"

.remark-code-line-highlighted
  background-color #373832

.pull-left
  float left
  width 47%

.pull-right
  float right
  width 47%

.pull-right ~ p
  clear both

#slideshow 
  .slide 
    .content 
      code
        font-size 0.8em
      pre 
        code
          padding 15px
          font-size 0.9em

.inverse
  color #777872
  background #272822
  text-shadow 0 0 20px #333

.inverse h1
.inverse h2
  line-height 0.8em
  color #f3f3f3

/* Slide-specific styling */

#slide-inverse 
  .footnote
    bottom 12px
    left 20px

#slide-how 
  .slides
    position absolute
    top  151px
    right 140px
    font-size 0.9em

#slide-how 
  .slides 
    h3
      margin-top 0.2em

#slide-how 
  .slides 
    .first
    .second
      width 120px
      height 90px
      padding 1px 20px
      box-shadow 0 0 10px #777
  
#slide-how 
  .slides 
    .first
      position absolute
      z-index 1
      top 20%
      left 20%
      background #fff

#slide-how 
  .slides 
    .second
      position relative
      z-index 0
      background #fff

/* Two-column layout */

.left-column
  float left
  width 20%
  height 92%
  color #777

.left-column 
  h2:last-of-type
  h3:last-child
    color #000
  
.right-column
  float right
  width 75%
  padding-top 1em
